
<template>
  <div>
    <slot />
    <!--  <img src="../assets/" alt=""> -->
    <p>Sie sind angemeldet als:</p>
    <PlattformData />
  <p> {{ this.$store.getters.getUserName}}</p>
  <button @click="logout" type="submit" class="btn btn-primary">Abmelden</button>

  </div>
</template>

<script>
import PlattformData from "../components/PlattformData.vue";
export default {
  name: "account",
  components: {
    PlattformData,
  },
  computed:{
  },
   methods: {
    logout() {
      this.$store.dispatch('Logout');
    },
  },
};
</script>