
<template>
  <div>
    <slot />
    <!--  <img src="../assets/" alt=""> -->
    <p>Eintrag für den {{ $route.params.day.toLocaleDateString("de-DE") }}</p>
    <PageData />
  </div>
</template>

<script>
import PageData from "../components/PageData.vue";
export default {
  name: "eintrag",
  components: {
    PageData,
  },
};
</script>