
<template>
  <div>
    <slot />
    <!--  <img src="../assets/" alt=""> -->
    <p>Tagebucheintrag anlegen</p>
    <Calendar />
  </div>
</template>

<script>
import Calendar from "../components/Calendar.vue";
export default {
  name: "home",
  components: {
    Calendar,
  },
};
</script>