
<template>
  <div>
    <slot />
    <!--  <img src="../assets/" alt=""> -->
    <p>Diese App ist ein Angebot aus dem Care4Care-Projekt. Weitere Informationen erhalten Sie unter <a target="_blank" href="https://www.care4care-projekt.de">www.care4care-projekt.de</a>.</p>
  </div>
</template>

