
<template>
  <div>
    <slot />
    <!--  <img src="../assets/" alt=""> -->
    <p>Wählen Sie einen Bereich aus</p>
    <div class="inter_overview_wrapper mx-3 mt-4">
        <div v-for="rows in Math.ceil(items.length / 2)" :key="rows" class="row inter_icon_row">
          <div v-for="item in items.slice(2 * (rows - 1), 2 * rows)" :key="item.name" class="col-6">
            <div @click="ItemClicked" class="inter_icon">
              <font-awesome-icon :icon="item.icon" />
              <h5>{{item.name}}</h5>
            </div>
          </div>
        </div>
    </div>
    <!-- wrapper Ende -->
  </div>
</template>

<style>
.inter_icon {
  border: solid 1px #d6d8db;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  /* margin: 0px 2px 5px 2px!important; */
  box-sizing: border-box;
}

.row.inter_icon_row {
    margin-bottom: 1em;
}

.inter_icon svg {
    margin-bottom: 1em;
    color: #009640;
}

.inter_icon h5 {
  text-align: center !important;
  margin-bottom: 0px!important;
}

.svg-inline--fa {
  height: 3em;
  width: 8em !important;
}

.selected{
  /* border: solid 1px #ff9900!important; */
  background-color: #3da562!important;
}

.selected svg{
  color: white!important;
}

.selected h5{
  color: white!important;
}
</style>

<script>
     export default {
  data() {
    return {
      items: [
        { name: "Schlaf", icon: "bed" },
        { name: "Alkohol", icon: "wine-bottle" },
        { name: "Arbeit", icon: "building" },
        { name: "Gesundheit", icon: "heartbeat" },
        { name: "Stress", icon: "angry" },
        { name: "Pflege", icon: "user-nurse" },
      ]
    };
  },
  props: {
   
   },
  methods: {
    ItemClicked() {
      console.log("hello");
      // this.$router.push({
      //   name: "intervention",});
    },
  },
};
</script>