<template>
  <div>
    <slot />
    <Login />
  </div>
</template>


<script>
import Login from "../components/Login.vue";

export default {
  name: "login",
  components: {
    Login,
  },
};
</script>

<style>
</style>