<template>
  <div>
    <slot />
    <p>Der Verlauf Ihrer Stimmung in der letzten Woche:</p>
    <LineChart />
      <p class="mt-5">Ihr Stresslevel in der letzten Woche:</p>
    <BarChart />
  </div>
</template>


<script>
import LineChart from "../components/LineChart.vue";
import BarChart from "../components/BarChart.vue";

export default {
  name: "charts",
  components: {
    LineChart,
    BarChart
  },
};
</script>

<style>
.small {
  max-width: 600px;
}
</style>