<template>
  <div class="small">
    <bar-chart :chart-data="datacollection"></bar-chart>
  </div>
</template>

<script>
import BarChart from "../Chartjs/BarChart.js";

export default {
  components: {
    BarChart,
  },
  data() {
    return {
      datacollection: null,
    };
  },
  mounted() {
    this.fillData();
  },
  methods: {
    fillData() {
      this.datacollection = {
        labels: [
          "Montag",
          "Dienstag",
          "Mittwoch",
          "Donnerstag",
          "Freitag",
          "Samstag",
          "Sonntag",
        ],
        datasets: [
          {
            label: "Woche 1",
            backgroundColor: "#f7b731",
            data: [88, 77, 55, 66, 33, 22, 11],
          },
        ],
      };
    },
  },
};
</script>