<template>
  <div class="px-1 d-flex justify-content-center">
    <v-calendar :attributes="attrs" is-expanded @dayclick="dayClicked" ></v-calendar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      attrs: [
          {
          highlight: 'green',
          dates: [
            new Date (), // heute
          ],
        },
        {
          highlight: 'orange',
            dates: [
            new Date(2021, 1, 6), // Feb 6th
            new Date(2021, 1, 23), // Feb 23rd
          ],
        },
      ],
    };
  },
  props: {
    day: String,
   },
  methods: {
    dayClicked(day) {
      this.selectedDay = day;
      this.$router.push({
        name: "eintrag",
        params: { day: this.selectedDay.date },
      });
    },
  },
};
</script>