<template>
  <div>
    <form @submit="login" class="login-form mb-5">
      <div class="form-group">
        <input v-model="username"
          type="email"
          class="form-control"
          id="InputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email-Adresse"
        />
      </div>
      <div class="form-group">
        <input v-model="password"
          type="password"
          class="form-control"
          id="InputPassword1"
          placeholder="Passwort"
        />
      </div>
      <button type="submit" class="btn btn-primary">Anmelden</button>
    </form>
    <p>Der folgende Zugang dient zu Testzwecken</p>
      <p>E-Mail: demo@demo.de</p>
      <p>Passwort: demo</p>
  </div>
</template>



<script>
export default {
  components: {},
  data: () => {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
      async login(e){
          e.preventDefault();    
           this.$store.dispatch('UserSetToken', {token: '123'});
           this.$store.dispatch('UserSetData', {username: this.username, password: this.password});
      }
  },
};
</script>