<template>
<div class="naviWrapper">
    <div class="logoContainer">
      <router-link to="/"><img class="c4c-logo" alt="logo" src="../assets/c4c-logo.png" /></router-link>
    </div>
 
    <div class="navigation">
      <ul class="mt-3">
        <li><router-link to="./"><b-icon icon="house"></b-icon> Start</router-link></li>
        <li><router-link to="./interventionen"><b-icon icon="emoji-smile"></b-icon> Interventionen</router-link></li>
        <li><router-link to="./verlauf"><b-icon icon="bar-chart"></b-icon> Verlauf</router-link></li>
        <li><router-link to="./account"><b-icon icon="person"></b-icon> Account</router-link></li>
        <li><router-link to="./impressum"><b-icon icon="file-text"></b-icon> Impressum</router-link></li>
      </ul>
    </div>
  </div>
</template>

<style>
  .navigation,
  .logoContainer {
    width: 100vw;
    min-height: 100vh;
    padding: 2%;
    background-color: #009640;
    padding-right: 50%!important;
    }

  .logoContainer{
    background-color: white!important;
    min-height: unset;
  }

    ul {
      list-style: none;
       padding-left: 0;
      }

      li {
        margin-bottom: 10%;
        text-transform: uppercase;
        color: white;
      }
    .navigation li a {
        color: white!important;
    } 
      a {
        color: #fefefe;
        text-decoration: none;}

        a:hover, a.router-link-exact-active {
          text-decoration: underline;
          color: #ff9901!important;
        }

    router-link i.bi{
    vertical-align: text-bottom;
    font-size: larger;}
      
    
  
</style>