<template>
    <div class="pagecontainer mx-4">
        <div v-html="PageData"> </div>  
        <button v-on:click="submit()">Submit</button>
        </div>
</template>

<script>

//zum Testen localhost eintragen:
var localhost = 'http://localhost:8888/170320';
//zum Testen Page ID eintragen:
var PageID = '51006';


import axios from 'axios'
export default {
       data () {
        return {
            PageData: '',
        }
    },
    created () {
        axios.get(localhost+'/?rest_route=/wp/v2/pages/'+PageID)
            .then(response => {
            this.PageData = response.data.content.rendered;
            })
            .catch(error => console.log(error))
    },
    methods: {
        submit(){
            console.log("test");
        }
    }
} 







</script>