<template>
    <div class="restapidata">
      <p>  {{ myData }} </p>
    </div>
</template>

<script>
import axios from 'axios'

//zum Testen localhost eintragen:
var localhost = 'http://localhost:8888/170320';

export default {
       data () {
        return {
            myData: '',
        }
    },
    created () {
        axios.get(localhost+'/?rest_route=/hello-world/v1/phrase')
            .then(response => {
            this.myData = response.data
            })
            .catch(error => console.log(error))
    }
} 
</script>