<template>
  <b-toast
    id="updateAvailableToast"
    variant="info"
    :visible=updateExists
    solid
    no-auto-hide
  >
    <template v-slot:toast-title>
      <div class="d-flex flex-grow-1 align-items-baseline">
        <strong class="mr-auto"><font-awesome-icon icon="info-circle" />&nbsp;Hinweis</strong>
      </div>
    </template>
    <p>Es ist ein Update verfügbar.<br>Aktualisieren Sie auf die neueste Version!</p>
    <b-button text @click="refreshApp"><font-awesome-icon icon="redo-alt" />&nbsp;Aktualisieren</b-button>
  </b-toast>
</template>

<script>
import update from '../mixins/update'

export default {
  mixins: [update],
}
</script>