<template>
  <div id="app">
    <Navigation />
    <div class="header py-3 d-flex justify-content-between" :class="{ moveHeader: showNavi}" v-on:click="showNavi = false" >
      <div v-if="showNavi == false & $route.meta.level == 1" v-on:click.stop="showNavi = true" class="menuContainer ml-2 position-absolute" id="navigation-icon">
        <div class="menuStripes">
        </div>
      </div>
      <div v-else-if="showNavi == true & $route.meta.level == 1" v-on:click="showNavi = false" class="menuContainer ml-2 position-absolute cross" id="navigation-icon">
        <div class="menuStripes">
       </div>
      </div>
      <div v-if="$route.meta.level > 1" v-on:click="goBack()" class="ml-2 position-absolute">
        <b-icon icon="chevron-left" scale="1.5"></b-icon>
      </div>
       <h4 class="mx-auto">{{$route.meta.title}}</h4>
      </div>
      <div class="content" :class="{ moveContent: showNavi }" v-on:click="showNavi = false">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <router-view> <!-- Dynamic Content --> </router-view>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import Navigation from "./components/Navigation.vue";

export default {
  name: "App",
  data: () => {
    return {
      showNavi: false,
    };
  },
  components: {
    Navigation,
  },
  watch: {
    $route() {
      this.showNavi = false;
    },
   },
  methods: {
    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
    },
  },
 };
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.content p{
  font-size: 1.2rem;
  text-align: start;
}

p a{
  color:  #009640;
}

.header {
  position: absolute;
  top: 0;
  /* min-height: 70px; */
  background-color: #009640;
  color: white;
  z-index: 999;
  width: 100vw;
  transition: .8s all ease-in-out;
  align-items: center;
}

.header h4{
  margin-bottom: 0!important;
}

.moveHeader{
  transform: translateX(20vw);
  transition: .8s all ease-in-out;
  }

body {
  margin: 0;
  padding: 0;
  background-color: red;
  width: 100vw;
  overflow-x: hidden;
}

.content {
  position: absolute;
  margin-top: 55px;
  top: 0;
  width: 100vw;
  min-height: 132vh;
  padding: 5%;
  background-color: #fff;
  transition: .8s all ease-in-out;
}

.moveContent {
  transform: translateX(20vw);
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
  transition: .8s ease-in-out;
  -webkit-transition: .8s ease-in-out;
  border-left: solid #009640 1px;
}

.menuContainer{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuStripes{
  width: 18px;
  height: 2px;
  background-color: white;
  align-self: center;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.menuStripes::before,
.menuStripes::after{
  width: 18px;
  height: 2px;
  content: '';
  position: absolute;
  background-color: white;
  border-radius: 8px;
  transition: all .5s ease-in-out;
  display: flex;
}

.menuStripes::before{
  transform: translateY(-7px);
}

.menuStripes::after{
    transform: translateY(7px);
}

.cross.menuContainer .menuStripes{
  background: transparent;
}

.cross .menuStripes::before{
  transform: rotate(45deg); 
}

.cross .menuStripes::after{
    transform: rotate(-45deg); 
}

.login-form{
  max-width: 300px;
}

.btn-primary {
    color: #fff;
    background-color:#009640!important;
    border-color: #009640!important;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .moveContent {
    transform: translateX(30vw);
    }
    .moveHeader{
    transform: translateX(30vw);
    }
}

@media screen and (max-width: 767px) {
  .moveContent {
    transform: translateX(50vw);
    }
    .moveHeader{
    transform: translateX(50vw);
    }
}
</style>
